@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
body {
  margin: 0%;
  width: 350px;
  height: 440px;
  background-color: #2C3639;
  display: flex;
  justify-content: center;
  font-family: "Heebo", sans-serif;
}
.container {
  display: inline-block;
}
.header_meme-nav {
  margin: 0%;
  background-color: #7D9D9C;
  width: 22rem;
  height: 50px;
  display: flex;
}
.header_text {
  padding-left: 8px;
  padding-top: 0.1px;
}
.header_meme-img {
  width: 3rem;
  height: 3rem;
  padding-top: 0.3rem;
  padding-left: 0.8rem;
}
.meme-img {
  justify-content: center;
  color: white;
  height: 20px;
  width: 20px;
}
.meme-content {
  margin-top: 60px;
  background-color: #3F4E4F;
  border: 0px solid;
  border-radius: 1rem;
  margin: 1rem 1rem 1rem 1rem;
  height: 18.5rem;
  width: 20rem;
}
.refresh-content {
  display: flex;
  color: white;
  margin: 1rem 1rem 1rem 1rem;
  background-color: #3F4E4F;
  border: 0px solid;
  border-radius: 1rem;
}
.refresh-text {
  padding-left: 1rem;
  font-size: 14px;
}
button {
  background: transparent;
  border: 0px;
  cursor: pointer;
}
button:hover{
  color: white;
}
.meme_img{
  height: 16rem;
  width: 18.7rem;
  border-radius: 10px;
  margin: 50% 50% 10% 50%;
}
.author-text{
  font-size: 10px;
  margin-top: 1px;
  margin-left: 1rem;
}
.loading{
  padding: 7.7rem 0rem 0rem 7.5rem;
  font-size: 1rem;
}